* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile p {
  text-transform: uppercase;
  font-size: 30px;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin: auto;
  height: 100vh;
}
.correct {
  background-color: lightgreen;
}
.available {
  background-color: yellow;
}
.incorrect {
  background-color: red;
}
